@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#post h1,
#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
  @apply font-bold mt-4 mb-2 text-white;
}
#post p {
  @apply my-2 leading-7 text-white;
}
#post a {
  @apply text-blue-600 underline;
}
#post ul {
  @apply my-4 ml-6 list-disc;
}
#post ol {
  @apply my-4 ml-6 list-decimal;
}
#post blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-600;
}
#post pre {
  @apply bg-gray-200 p-4 rounded-md overflow-x-auto text-black;
}
#post code {
  @apply bg-gray-200 rounded px-1 text-black;
}
#post table {
  @apply w-full border-collapse my-4;
}
#post th,
#post td {
  @apply border border-gray-300 px-4 py-2;
}
#post th {
  @apply bg-gray-100 font-bold text-black;
}
