@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --foreground-light-mode: #111827;
  --background-light-mode: #e8e6e6;
  --foreground-dark-mode: #e8e6e6;
  --background-dark-mode: #111827;
}

@theme inline {
  --color-background-light-mode: var(--background-light-mode);
  --color-foreground-light-mode: var(--foreground-light-mode);
  --color-background-dark-mode: var(--background-dark-mode);
  --color-foreground-dark-mode: var(--foreground-dark-mode);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* https://github.com/themesberg/flowbite-react/issues/1583#issuecomment-2974265404 */
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply font-sans bg-background-light-mode text-foreground-light-mode dark:bg-background-dark-mode dark:text-foreground-dark-mode;
}

/* NProgress styles */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-pink-500 dark:bg-pink-300 fixed z-100 top-0 left-0 w-full h-1;
}

#nprogress .peg {
  @apply block absolute right-0 w-[100px] h-full opacity-100 rotate-3 translate-x-0 -translate-y-1 shadow-[0_0_10px_#cc0000,0_0_5px_#cc0000];
}

#nprogress .spinner {
  @apply hidden;
}

#post h1,
#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
  @apply font-bold mt-4 mb-2 text-white;
}
#post p {
  @apply my-2 leading-7 text-white;
}
#post a {
  @apply text-blue-600 underline;
}
#post ul {
  @apply my-4 ml-6 list-disc;
}
#post ol {
  @apply my-4 ml-6 list-decimal;
}
#post blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-600;
}
#post pre {
  @apply bg-gray-200 p-4 rounded-md overflow-x-auto text-black;
}
#post code {
  @apply bg-gray-200 rounded px-1 text-black;
}
#post table {
  @apply w-full border-collapse my-4;
}
#post th,
#post td {
  @apply border border-gray-300 px-4 py-2;
}
#post th {
  @apply bg-gray-100 font-bold text-black;
}
